body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #00597B;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form select, form button {
    margin: 5px 0;
    padding: 10px;
}



.home-content {
    padding: 10px;
    text-align: justify;
}

.image-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-item {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.image-item img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 60%;
    height: auto;
}

.image-single {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-single img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 60%;
    height: auto;
}

.text-item {
    text-align: center;
    margin-top: 20px;
}
